@import "semantic.css";

$brown-1: #2A1A00;
$brown-2: #462D03;
$brown-3: #362200;
$brown-4: #734800;
$brown-5: #A86900;

$background-color: $brown-2;
$main-background-color: #fff;

body {
  background-color: $background-color;
  // color: #fff;
  // font-size: 24px;
}

#app-main {
  background: $main-background-color;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

#app-header {
  background: #fff;
}

#new-suggestion {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}